.container {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
}

table.eventSummary {
}

@media print {
  table.eventSummary,
  table.attendees {
    page-break-inside: avoid;
  }
}

table.attendees {
  border: 2px solid #ccc;
  width: 100%;
}

table.attendees > thead > tr > th,
table.attendees > thead > tr > td {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1em;
}

table.attendees > tbody > tr > td:not(:first-child),
table.attendees > tbody > tr > th:not(:first-child),
table.attendees > thead > tr > td:not(:first-child),
table.attendees > thead > tr > th:not(:first-child) {
  border-left: 1px solid #ccc;
}
table.attendees > tbody > tr > td {
  border-bottom: 1px solid #ccc;
}
table.attendees > tbody > tr:nth-child(odd) > td {
  background-color: #efefef;
}

table.attendees td.notes textarea {
  height: 5em;
  width: 100%;
  box-sizing: border-box;
}

table.attendees td.notes pre {
  display: none;
}

@media only screen and (max-width: 600px) {

  table.attendees {
    font-size: 8px;
    word-break: break-word;
  }
}

@media print {
  table.attendees td.notes label {
    display: none;
  }
  table.attendees td.notes pre {
    display: block;
    font-family: inherit;
    padding: 1em;
  }
}

